:root {
    --primary-color: #EF9C18 !important;
    --secundary-color: #C1C1C1 !important;
      
    --color-variant3:  #fafafa !important;
    --color-variant4: #ece8e8 !important;
    --color-variant5: rgb(77, 77, 76) !important;

    --text-color-dark: #1A1717 !important;
    --text-color-ligth1: #fff !important;
    --text-color-ligth2: #f1f1f1 !important;      
}
