.title-column {
    text-align: center;
}

.text-column {
    text-align: center;
}

.table-borderless {
    background-color: lightgrey;
    border-radius: 20px;
    padding-bottom: 10px;
    height: 100px;
}