.border-warning {
    padding: 10px;
}

.title-selecionado {
    padding-top: 10px;
    font-size: 30px;
}

.title-cadastre {
    text-align: center;
}

.title-cadastre a {
    text-decoration: none;
    color: black;
}

.title-cadastre span {
    background-color: var(--primary-color);
    padding: 7px;
    font-weight: 600;
}

.title-pagina {
    size: 20px;
    font-weight: 700;
    color: blueviolet;
}

.text-pagina {
    text-align: center;
    padding-top: 20px;
}

.title-dashboard {
    font-size: 20px;
    font-weight: 700;
}

.text-dashboard {
    font-size: 16px;
    padding-bottom: 20px;
}

.card-body {
    background-color: lightgrey;
    border-radius: 20px;
}
.card-title {
    text-align: center;
    font-weight: 520;
}

#info-apadrinhadores {
    padding-bottom: 20px;
}
